[flake8]
select = ANN,B,B9,BLK,C,E,F,I,S,W
ignore = E203,E501,W503,ANN101
max-complexity = 10
max-line-length = 90
application-import-names = rezide,tests
import-order-style = google
per-file-ignores = tests/*:S101,ANN
